## **String Based Assignment Problem**

### 1. Write a program to reverse a string.

In [ ]:

def reverse_string(input_string):
    return input_string[::-1]


input_str = "Hello, World!"


reversed_str = reverse_string(input_str)


print(f"The reverse of {input_str} is {reversed_str}")

The reverse of Hello, World! is !dlroW ,olleH

### 2. Check if a string is a palindrome.

In [ ]:

def is_palindrome(input_string):
    cleaned_str = ''.join(input_string.split()).lower()
    return cleaned_str == cleaned_str[::-1]


input_str1 = "A man a plan a canal Panama"


print(is_palindrome(input_str1))


input_str2 = "hello, world!"


print(is_palindrome(input_str2))

True
False

### 3. Convert a string to uppercase.

In [ ]:

string = "this is lowecase sentance."


print("Uppercase : ", string.upper())

Uppercase :  THIS IS LOWECASE SENTANCE.

### 4. Convert a string to lowercase.

In [ ]:

string = " THIS IS UPPERCASE SENTANCE."


print("Lowercase : ", string.lower())

Lowercase :   this is uppercase sentance.

### 5. Count the number of vowels in a string.

In [ ]:

input_string = 'this is a example string.'

# vowles string (characters needs to get counted from input string)
vowels_string = "aeiou"

# variable to store the count of vowles occured in user entered string
count = 0

for chr in input_string:
    chr_lowercase = chr.lower()

    if chr_lowercase in vowels_string:
        count = count + 1

# display the vowels count
print(f"There are {count} vowel(s) in entered string '{input_string}'.")

There are 7 vowel(s) in entered string 'this is a example string.'.

### 6. Count the number of consonants in a string.

In [ ]:
# taking string input from user to count consonants
input_string = 'this is a example string'

# removing the space characters from input string
cleaned_str = ''.join(input_string.split()).lower()

# vowles string (characters needs to get counted from input string)
vowels_string = "aeiou"

# variable to store the count of consonants occured in user entered string
count = 0

for chr in cleaned_str:

    # using not operator so that we can count every character except those which occurs in vowels_string. Doing this will count all the consonants occured in string
    if chr not in vowels_string:
        count = count + 1

# display the consonants count
print(f"There are {count} consonant(s) in entered string '{input_string}'.")

There are 13 consonant(s) in entered string 'this is a example string'.

### 7. Remove all whitespaces from a string.

In [ ]:
# initialise a string
input_string = "Divyanshu Prasad is learning data science."

# swapping the space in string with empty string
removed_spaces = input_string.replace(" ", "")

# display the result string
print("String after removing white spaces : ",removed_spaces)

String after removing white spaces :  DivyanshuPrasadislearningdatascience.

### 8. Find the length of a string without using the `len()` function.

In [ ]:
# example string
input_string = "checking length"

# variable to store the length of the input string
length = 0

# counting number of chracters occured in string which in total is length of string
for char in input_string:
    length += 1

print("Length of input string is :", length)

Length of input string is : 15

### 9. Check if a string contains a specific word.

In [ ]:
# taking user input for string and the specific word
input_string = input("Enter a string: ")
specific_word = input("Enter the specific word to check for: ")

# checking for the specific word in the string using 'in' keyword
if specific_word in input_string:
    # display message if word is present
    print(f"The string contains the word '{specific_word}'.")
else:
    # display message if word is not present
    print(f"The string does not contain the word '{specific_word}'.")

The string contains the word 'python'.

### 10. Replace a word in a string with another word.

In [ ]:
# taking string from user
input_string = input("Enter a sentence: ")

# input for new word and word to be replaced
old_word = input("Enter the word to be replaced: ")
new_word = input("Enter the new word: ")

# replacing the old word with the new word using string.replace() method
answer_string = input_string.replace(old_word, new_word)

# display the modified string
print("Modified string:", answer_string)

Modified string: wello world

### 11. Count the occurrences of a word in a string.

In [ ]:
# sample text
text = "This is a sample text. This text contains the word 'text' multiple times."

# word to be counted
word_to_count = "text"

# using count function to get the count of words
count = text.count(word_to_count)

# display the result with a message
print(f"The word '{word_to_count}' appears {count} times in the text.")

The word 'text' appears 3 times in the text.

### 12. Find the first occurrence of a word in a string.

In [ ]:
# sample text
text = "This is a sample text. This text contains the word 'text' multiple times."

# word to be looked for first occurance
word_to_count = "text"

# find() function to get first occurance of word in a text
first_occurrence = text.find(word_to_count)

# display the index of the word found with a message
print(f"The first occurrence of '{word_to_count}' starts at index {first_occurrence}.")

The first occurrence of 'text' starts at index 17.

### 13. Find the last occurrence of a word in a string.

In [ ]:
# sample text
text = "This is a sample text. This text contains the word 'text' multiple times."

# word to be looked for last occurance
word_to_count = "text"

# rfind() function to get last occurance of word in a text
last_occurrence = text.rfind(word_to_count)

# display the index of the word found with a message
print(f"The last occurrence of '{word_to_count}' starts at index {last_occurrence}.")

The last occurrence of 'text' starts at index 52.

### 14. Split a string into a list of words.

In [ ]:
# example text
sentance = 'this is a dummy sentance'

# splitting the words of sentance by spaces
words = sentance.split()

# display the list of words
print("The list of words in the text:", words)

The list of words in the text: ['this', 'is', 'a', 'dummy', 'sentance']

### 15. Join a list of words into a string.

In [ ]:
# joining the separated words to form a sentance again using .join()
joined_text = " ".join(words)

# display the sentance
print("The joined string:", joined_text)

The joined string: this is a dummy sentance

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [ ]:
input_str = "Hello World"

# using replace() to get _ at place of space
result_16 = input_str.replace(' ', '_')

# display the result
print(result_16)

Hello_World

### 17. Check if a string starts with a specific word or phrase.

In [ ]:
input_str = "Hello World"

# word to check as prefix in above string or not
word_to_check = "Hello"

# checking if the text is starting with the word or not
result_17 = input_str.startswith(word_to_check)

# display result
print(result_17)

True

### 18. Check if a string ends with a specific word or phrase.

In [ ]:
input_str = "Hello World"

# word to check as suffix in above string or not
word_to_check = "World"

# checking if the text is ending with the word or not
result_18 = input_str.endswith(word_to_check)

# display the result
print(result_18)

True

### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
input_str = "hello world"

# .title() will capitalize the words in sentance
result_19 = input_str.title()

# display the updated text
print(result_19)

Hello World

### 20. Find the longest word in a string.

In [ ]:
# example string
input_str = "This is a sample sentence with some long words"

# getting every word from sentance to a list using split
words = input_str.split()

# max function gets the max value from passed arguments, using key = len will check the max length word from the list
result_20 = max(words, key=len)

# display the result
print(result_20)

sentence

### 21. Find the shortest word in a string.

In [ ]:
# example string
input_str = "This is a sample sentence with some short words"

# getting every word from sentance to a list using split
words = input_str.split()

# max function gets the min value from passed arguments, using key = len will check the min length word from the list
result_21 = min(words, key=len)

# display the result
print(result_21)

a

### 22. Reverse the order of words in a string.

In [ ]:
input_str = "Hello World"

# splitting the sentence to an array of words
words = input_str.split()

# now reversing the list of words and joining them in new string variable
result_22 = ' '.join(reversed(words))

# display the result
print(result_22)

World Hello

### 23. Check if a string is alphanumeric.

In [ ]:
input_str = "Hello123"

# below line will check if the sentance is a mix of characters and numbers
result_23 = input_str.isalnum()

# display true or false as per the status of word
print(result_23)

True

### 24. Extract all digits from a string.

In [ ]:
input_str = "Hello123"

# check if any character in a word is digit and filter them out and join in new string
result_24 = ''.join(filter(str.isdigit, input_str))

# display the filtered numbers from the alphanumeric word
print(result_24)

123

### 25. Extract all alphabets from a string.

In [ ]:
input_str = "Hello123"

# check if any character in a word is alphabet and filter them out and join in new string
result_25 = ''.join(filter(str.isalpha, input_str))

# display the filtered numbers from the alphanumeric word
print(result_25)

Hello

### 26. Count the number of uppercase letters in a string.

In [ ]:
# Input a string
string = input("Enter a string: ")

# Initialize a count variable
uppercase_count = 0

# Iterate through the characters in the string
for char in string:
    if char.isupper():
        uppercase_count += 1

print("Number of uppercase letters:", uppercase_count)

Number of uppercase letters: 0

### 27. Count the number of lowercase letters in a string.

In [ ]:
# Input a string
string = input("Enter a string: ")

# Initialize a count variable
lowercase_count = 0

# Iterate through the characters in the string
for char in string:
    if char.islower():
        lowercase_count += 1

print("Number of lowercase letters:", lowercase_count)

Number of lowercase letters: 5

### 28. Swap the case of each character in a string.

In [ ]:
# Input a string
string = input("Enter a string: ")

# Use the swapcase() method to swap the case of characters
swapped_string = string.swapcase()

print("Swapped string:", swapped_string)

Swapped string: HELLO

### 29. Remove a specific word from a string.

In [ ]:
# Input a string
string = input("Enter a string: ")

# Input the word to be removed
word_to_remove = input("Enter the word to remove: ")

# Use the replace() method to remove the specified word
new_string = string.replace(word_to_remove, '')

print("String after removing the word:", new_string)

String after removing the word: heo

### 30. Check if a string is a valid email address.

In [ ]:
import re

# Input an email address
email = input("Enter an email address: ")

# Define a regular expression pattern for email validation
pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'

# Use the re.match() function to check if the email matches the pattern
if re.match(pattern, email):
    print("Valid email address.")
else:
    print("Invalid email address.")

Invalid email address.

### 31. Extract the username from an email address string.

In [ ]:
# Input an email address
email = input("Enter an email address: ")

# Split the email address at the "@" symbol and extract the username
username = email.split('@')[0]

print("Username:", username)

Username: divyanshu

### 32. Extract the domain name from an email address string.

In [ ]:
# Input an email address
email = input("Enter an email address: ")

# Split the email address at the "@" symbol and extract the domain name
domain = email.split('@')[1]

print("Domain:", domain)

Domain: gmail.com

### 33. Replace multiple spaces in a string with a single space.

In [ ]:
# Input a string
string = input("Enter a string: ")

# Use regular expression to replace multiple spaces with a single space
import re
new_string = re.sub(' +', ' ', string)

print("String with multiple spaces replaced:", new_string)

String with multiple spaces replaced: hello. world

### 34. Check if a string is a valid URL.

In [ ]:
import re

# Input a URL
url = input("Enter a URL: ")

# Define a regular expression pattern for URL validation
pattern = r'^(http|https)://[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'

# Use the re.match() function to check if the URL matches the pattern
if re.match(pattern, url):
    print("Valid URL.")
else:
    print("Invalid URL.")

Invalid URL.

### 35. Extract the protocol (http or https) from a URL string.

In [ ]:
# Input a URL
url = input("Enter a URL: ")

# Split the URL at "://" and extract the protocol
protocol = url.split('://')[0]

print("Protocol:", protocol)

Protocol: https

### 36. Find the frequency of each character in a string.

In [ ]:
# Input a string
string = input("Enter a string: ")

# Initialize an empty dictionary to store character frequencies
char_frequency = {}

# Iterate through the characters in the string
for char in string:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1

print("Character frequencies:", char_frequency)

Character frequencies: {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

### 37. Remove all punctuation from a string.

In [ ]:
import string

# Input a string
string_with_punctuation = input("Enter a string with punctuation: ")

# Remove punctuation using string.punctuation
string_without_punctuation = ''.join(char for char in string_with_punctuation if char not in string.punctuation)

print("String without punctuation:", string_without_punctuation)

String without punctuation: hi im divyanshu

### 38. Check if a string contains only digits.

In [ ]:
# Input a string
string = input("Enter a string: ")

# Check if the string contains only digits
if string.isdigit():
    print("String contains only digits.")
else:
    print("String does not contain only digits.")

String contains only digits.

### 39. Check if a string contains only alphabets.

In [ ]:
# Input a string
string = input("Enter a string: ")

# Check if the string contains only alphabets
if string.isalpha():
    print("String contains only alphabets.")
else:
    print("String does not contain only alphabets.")

String contains only alphabets.

### 40. Convert a string to a list of characters.

In [ ]:
# Input a string
string = input("Enter a string: ")

# Convert the string to a list of characters
char_list = list(string)

print("List of characters:", char_list)

List of characters: ['h', 'e', 'l', 'l', 'o']

### 41. Check if two strings are anagrams.

In [ ]:
# Input two strings
string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")

# Remove spaces and convert to lowercase for comparison
string1 = string1.replace(" ", "").lower()
string2 = string2.replace(" ", "").lower()

# Check if the sorted characters of both strings are the same
if sorted(string1) == sorted(string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

The strings are anagrams.

### 42. Encode a string using a Caesar cipher.

In [ ]:
# Input a string and the shift value
string = input("Enter a string: ")
shift = int(input("Enter the shift value: "))

# Initialize an empty result string
result = ""

# Iterate through each character in the input string
for char in string:
    if char.isalpha():
        # Determine whether the character is uppercase or lowercase
        if char.isupper():
            offset = ord('A')
        else:
            offset = ord('a')

        # Apply Caesar cipher shift
        encoded_char = chr(((ord(char) - offset + shift) % 26) + offset)
        result += encoded_char
    else:
        result += char

print("Encoded string:", result)

Encoded string: jgnnq yqtnf

### 43. Decode a Caesar cipher encoded string.

In [ ]:
# Input an encoded string and the shift value
encoded_string = input("Enter the encoded string: ")
shift = int(input("Enter the shift value: "))

# Initialize an empty result string
result = ""

# Iterate through each character in the encoded string
for char in encoded_string:
    if char.isalpha():
        # Determine whether the character is uppercase or lowercase
        if char.isupper():
            offset = ord('A')
        else:
            offset = ord('a')

        # Apply Caesar cipher shift in reverse to decode
        decoded_char = chr(((ord(char) - offset - shift) % 26) + offset)
        result += decoded_char
    else:
        result += char

print("Decoded string:", result)

Decoded string: hello world

### 44. Find the most frequent word in a string.

In [ ]:
# Input a string
string = input("Enter a string: ")

# Split the string into words
words = string.split()

# Create a dictionary to store word frequencies
word_freq = {}

# Iterate through the words and count their frequencies
for word in words:
    word = word.lower()  # Convert to lowercase for case-insensitive comparison
    if word in word_freq:
        word_freq[word] += 1
    else:
        word_freq[word] = 1

# Find the most frequent word
most_frequent_word = max(word_freq, key=word_freq.get)

print("Most frequent word:", most_frequent_word)

Most frequent word: hello

### 45. Find all unique words in a string.

In [ ]:
# Input a string
string = input("Enter a string: ")

# Split the string into words
words = string.split()

# Create a set to store unique words
unique_words = set(words)

print("Unique words:", unique_words)

Unique words: {'world', 'hello'}

### 46. Count the number of syllables in a string.

In [ ]:
# Input a string
string = input("Enter a string: ")

# Define a function to count syllables in a word
def count_syllables(word):
    vowels = "AEIOUaeiou"
    count = 0
    prev_char = None

    for char in word:
        if char in vowels and prev_char not in vowels:
            count += 1
        prev_char = char

    return count

# Split the string into words and count syllables in each word
words = string.split()
syllable_count = sum(count_syllables(word) for word in words)

print("Number of syllables:", syllable_count)

Number of syllables: 3

### 47. Check if a string contains any special characters.

In [ ]:
import string

# Input a string
string_to_check = input("Enter a string: ")

# Define a function to check for special characters
def contains_special_characters(input_string):
    special_characters = set(string.punctuation)
    for char in input_string:
        if char in special_characters:
            return True
    return False

# Check if the string contains special characters
if contains_special_characters(string_to_check):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

### 48. Remove the nth word from a string.

In [ ]:
# Input a string
string = input("Enter a string: ")

# Input the position (n) of the word to remove
n = int(input("Enter the position (1-based) of the word to remove: "))

# Split the string into words
words = string.split()

# Check if the given position is valid
if 1 <= n <= len(words):
    # Remove the nth word
    del words[n - 1]
    result = ' '.join(words)
    print("String after removing the nth word:", result)
else:
    print("Invalid position. No word removed.")

Invalid position. No word removed.

### 49. Insert a word at the nth position in a string.

In [ ]:
# Input a string
string = input("Enter a string: ")

# Input the position (n) to insert the word
n = int(input("Enter the position (1-based) to insert the word: "))

# Input the word to insert
word_to_insert = input("Enter the word to insert: ")

# Split the string into words
words = string.split()

# Check if the given position is valid
if 1 <= n <= len(words) + 1:
    # Insert the word at the nth position
    words.insert(n - 1, word_to_insert)
    result = ' '.join(words)
    print("String after inserting the word:", result)
else:
    print("Invalid position. Word not inserted.")

Invalid position. Word not inserted.

### 50. Convert a CSV string to a list of lists.

In [ ]:
# Input a CSV string
csv_string = input("Enter a CSV string: ")

# Split the CSV string into rows
rows = csv_string.split('\n')

# Initialize an empty list to store the list of lists
csv_list = []

# Iterate through the rows and split each row into columns
for row in rows:
    columns = row.split(',')
    csv_list.append(columns)

print("List of lists from CSV string:")
for row in csv_list:
    print(row)

List of lists from CSV string:
["{'hello'", " 'world'}"]

## **List-Based Practice Problems:**

### 1. Create a list with integers from 1 to 10.

In [ ]:
# Create a list with integers from 1 to 10
my_list = list(range(1, 11))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Initialize a count variable
count = 0

# Iterate through the list and count the elements
for _ in my_list:
    count += 1

print("Length of the list:", count)

Length of the list: 5

### 3. Append an element to the end of a list.

In [ ]:
# Create a list
my_list = [1, 2, 3]

# Append an element to the end of the list
my_list.append(4)

print("Updated list:", my_list)

Updated list: [1, 2, 3, 4]

### 4. Insert an element at a specific index in a list.

In [ ]:
# Create a list
my_list = [1, 2, 3]

# Insert an element at index 1
my_list.insert(1, 4)

print("Updated list:", my_list)

Updated list: [1, 4, 2, 3]

### 5. Remove an element from a list by its value.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Remove the element with value 3
my_list.remove(3)

print("Updated list:", my_list)

Updated list: [1, 2, 4, 5]

### 6. Remove an element from a list by its index.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Remove the element at index 2
del my_list[2]

print("Updated list:", my_list)

Updated list: [1, 2, 4, 5]

### 7. Check if an element exists in a list.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Check if an element exists in the list
element = 3
if element in my_list:
    print(f"{element} exists in the list.")
else:
    print(f"{element} does not exist in the list.")

3 exists in the list.

### 8. Find the index of the first occurrence of an element in a list.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5, 3]

# Find the index of the first occurrence of 3
element = 3
index = my_list.index(element)

print(f"The first occurrence of {element} is at index {index}.")

The first occurrence of 3 is at index 2.

### 9. Count the occurrences of an element in a list.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5, 3]

# Count the occurrences of 3 in the list
element = 3
count = my_list.count(element)

print(f"{element} appears {count} times in the list.")

3 appears 2 times in the list.

### 10. Reverse the order of elements in a list.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Reverse the list in-place
my_list.reverse()

print("Reversed list:", my_list)

Reversed list: [5, 4, 3, 2, 1]

### 11. Sort a list in ascending order.

In [ ]:
# Create a list
my_list = [5, 1, 3, 2, 4]

# Sort the list in ascending order
my_list.sort()

print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [1, 2, 3, 4, 5]

### 12. Sort a list in descending order.

In [ ]:
# Create a list
my_list = [5, 1, 3, 2, 4]

# Sort the list in descending order
my_list.sort(reverse=True)

print("Sorted list in descending order:", my_list)

Sorted list in descending order: [5, 4, 3, 2, 1]

### 13. Create a list of even numbers from 1 to 20.

In [ ]:
# Create a list of even numbers from 1 to 20
even_numbers = [num for num in range(1, 21) if num % 2 == 0]
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [ ]:
# Create a list of odd numbers from 1 to 20
odd_numbers = [num for num in range(1, 21) if num % 2 != 0]
print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Calculate the sum of elements in the list
sum_of_elements = sum(my_list)

print("Sum of elements in the list:", sum_of_elements)

Sum of elements in the list: 15

### 16. Find the maximum value in a list.

In [ ]:
# Create a list
my_list = [1, 3, 5, 2, 4]

# Find the maximum value in the list
max_value = max(my_list)

print("Maximum value in the list:", max_value)

Maximum value in the list: 5

### 17. Find the minimum value in a list.

In [ ]:
# Create a list
my_list = [1, 3, 5, 2, 4]

# Find the minimum value in the list
min_value = min(my_list)

print("Minimum value in the list:", min_value)

Minimum value in the list: 1

### 18. Create a list of squares of numbers from 1 to 10.

In [ ]:
# Create a list of squares of numbers from 1 to 10
squares = [num ** 2 for num in range(1, 11)]
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [ ]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]
print("List of random numbers:", random_numbers)

List of random numbers: [53, 60, 23, 72, 15]

### 20. Remove duplicates from a list.

In [ ]:
# Create a list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates while preserving the order
unique_list = list(set(my_list))

print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

### 21. Find the common elements between two lists.

In [ ]:
# Create two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find the common elements between the two lists
common_elements = list(set(list1) & set(list2))

print("Common elements between the two lists:", common_elements)

Common elements between the two lists: [3, 4, 5]

### 22. Find the difference between two lists.

In [ ]:
# Create two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find the difference between list1 and list2
difference = list(set(list1) - set(list2))

print("Difference between list1 and list2:", difference)

Difference between list1 and list2: [1, 2]

### 23. Merge two lists.

In [ ]:
# Create two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge the two lists
merged_list = list1 + list2

print("Merged list:", merged_list)

Merged list: [1, 2, 3, 4, 5, 6]

### 24. Multiply all elements in a list by 2.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Multiply all elements by 2 using list comprehension
multiplied_list = [x * 2 for x in my_list]

print("List with elements multiplied by 2:", multiplied_list)

List with elements multiplied by 2: [2, 4, 6, 8, 10]

### 25. Filter out all even numbers from a list.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5, 6]

# Filter out even numbers using list comprehension
filtered_list = [x for x in my_list if x % 2 != 0]

print("List with even numbers filtered out:", filtered_list)

List with even numbers filtered out: [1, 3, 5]

### 26. Convert a list of strings to a list of integers.

In [ ]:
# Create a list of strings
string_list = ["1", "2", "3", "4", "5"]

# Convert the list of strings to a list of integers
int_list = [int(x) for x in string_list]

print("List of integers:", int_list)

List of integers: [1, 2, 3, 4, 5]

### 27. Convert a list of integers to a list of strings.

In [ ]:
# Create a list of integers
int_list = [1, 2, 3, 4, 5]

# Convert the list of integers to a list of strings
string_list = [str(x) for x in int_list]

print("List of strings:", string_list)

List of strings: ['1', '2', '3', '4', '5']

### 28. Flatten a nested list.

In [ ]:
# Create a nested list
nested_list = [[1, 2], [3, 4], [5, 6]]

# Flatten the nested list using list comprehension
flattened_list = [x for sublist in nested_list for x in sublist]

print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6]

### 29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
# Initialize a list with the first two Fibonacci numbers
fibonacci_list = [0, 1]

# Generate the next 8 Fibonacci numbers
for i in range(2, 10):
    next_fibonacci = fibonacci_list[i-1] + fibonacci_list[i-2]
    fibonacci_list.append(next_fibonacci)

print("List of the first 10 Fibonacci numbers:", fibonacci_list)

List of the first 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 30. Check if a list is sorted.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Check if the list is sorted in ascending order
is_sorted = all(my_list[i] <= my_list[i + 1] for i in range(len(my_list) - 1))

if is_sorted:
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is sorted.

### 31. Rotate a list to the left by `n` positions.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Rotate the list to the left by 2 positions
n = 2
rotated_list = my_list[n:] + my_list[:n]

print("Rotated list to the left by", n, "positions:", rotated_list)

Rotated list to the left by 2 positions: [3, 4, 5, 1, 2]

### 32. Rotate a list to the right by `n` positions.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Rotate the list to the right by 2 positions
n = 2
rotated_list = my_list[-n:] + my_list[:-n]

print("Rotated list to the right by", n, "positions:", rotated_list)

Rotated list to the right by 2 positions: [4, 5, 1, 2, 3]

### 33. Create a list of prime numbers up to 50.

In [ ]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create a list of prime numbers up to 50
prime_list = [num for num in range(2, 51) if is_prime(num)]
print("List of prime numbers up to 50:", prime_list)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34. Split a list into chunks of size `n`.

In [ ]:
def chunk_list(input_list, chunk_size):
    return [input_list[i:i+chunk_size] for i in range(0, len(input_list), chunk_size)]

# Create a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Split the list into chunks of size 3
chunked_list = chunk_list(my_list, 3)

print("List split into chunks:", chunked_list)

List split into chunks: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### 35. Find the second largest number in a list.

In [ ]:
# Create a list
my_list = [5, 2, 8, 1, 9, 6]

# Find the second largest number
sorted_list = sorted(my_list)
second_largest = sorted_list[-2]

print("Second largest number in the list:", second_largest)

Second largest number in the list: 8

### 36. Replace every element in a list with its square.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Replace every element with its square using list comprehension
squared_list = [x**2 for x in my_list]

print("List with elements squared:", squared_list)

List with elements squared: [1, 4, 9, 16, 25]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
# Create a list
my_list = ["apple", "banana", "cherry"]

# Convert the list to a dictionary
my_dict = {element: index for index, element in enumerate(my_list)}

print("Dictionary from the list:", my_dict)

Dictionary from the list: {'apple': 0, 'banana': 1, 'cherry': 2}

### 38. Shuffle the elements of a list randomly.

In [ ]:
import random

# Create a list
my_list = [1, 2, 3, 4, 5]

# Shuffle the list randomly
random.shuffle(my_list)

print("Shuffled list:", my_list)

Shuffled list: [4, 3, 5, 1, 2]

### 39. Create a list of the first 10 factorial numbers.

In [ ]:
import math

# Create a list of the first 10 factorial numbers
factorial_list = [math.factorial(n) for n in range(10)]
print("List of the first 10 factorial numbers:", factorial_list)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

### 40. Check if two lists have at least one element in common.

In [ ]:
# Create two lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common
have_common_elements = any(item in list1 for item in list2)

if have_common_elements:
    print("The two lists have at least one common element.")
else:
    print("The two lists do not have any common elements.")

The two lists have at least one common element.

### 41. Remove all elements from a list.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Remove all elements from the list
my_list.clear()

print("List after removing all elements:", my_list)

List after removing all elements: []

### 42. Replace negative numbers in a list with 0.

In [ ]:
# Create a list with negative numbers
my_list = [1, -2, 3, -4, 5]

# Replace negative numbers with 0 using list comprehension
updated_list = [x if x >= 0 else 0 for x in my_list]

print("List with negative numbers replaced:", updated_list)

List with negative numbers replaced: [1, 0, 3, 0, 5]

### 43. Convert a string into a list of words.

In [ ]:
# Create a string
my_string = "Hello, world! This is a sample string."

# Convert the string into a list of words
word_list = my_string.split()

print("List of words from the string:", word_list)

List of words from the string: ['Hello,', 'world!', 'This', 'is', 'a', 'sample', 'string.']

### 44. Convert a list of words into a string.

In [ ]:
# Create a list of words
word_list = ["Hello,", "world!", "This", "is", "a", "sample", "string."]

# Convert the list of words into a string
my_string = " ".join(word_list)

print("String from the list of words:", my_string)

String from the list of words: Hello, world! This is a sample string.

### 45. Create a list of the first `n` powers of 2.

In [ ]:
# Create a list of the first 5 powers of 2
n = 5
power_of_2_list = [2**i for i in range(n)]

print("List of the first", n, "powers of 2:", power_of_2_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

### 46. Find the longest string in a list of strings.

In [ ]:
# Create a list of strings
string_list = ["apple", "banana", "cherry", "date", "fig"]

# Find the longest string
longest_string = max(string_list, key=len)

print("Longest string in the list:", longest_string)

Longest string in the list: banana

### 47. Find the shortest string in a list of strings.

In [ ]:
# Create a list of strings
string_list = ["apple", "banana", "cherry", "date", "fig"]

# Find the shortest string
shortest_string = min(string_list, key=len)

print("Shortest string in the list:", shortest_string)

Shortest string in the list: fig

### 48. Create a list of the first `n` triangular numbers.

In [ ]:
# Create a list of the first 5 triangular numbers
n = 5
triangular_numbers = [n * (n + 1) // 2 for n in range(1, n + 1)]

print("List of the first", n, "triangular numbers:", triangular_numbers)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

### 49. Check if a list contains another list as a subsequence.

In [ ]:
# Create two lists
list1 = [1, 2, 3, 4, 5]
list2 = [2, 3, 4]

# Check if list2 is a subsequence of list1
is_subsequence = all(item in list1 for item in list2)

if is_subsequence:
    print("list2 is a subsequence of list1.")
else:
    print("list2 is not a subsequence of list1.")

list2 is a subsequence of list1.

### 50. Swap two elements in a list by their indices.

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Swap elements at indices 1 and 3
index1, index2 = 1, 3
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

## **Tuple-Based Practice Problems:**

### 1. Create a tuple with integers from 1 to 5.

In [ ]:
# Create a tuple with integers from 1 to 5
my_tuple = (1, 2, 3, 4, 5)

print("Tuple:", my_tuple)

Tuple: (1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [ ]:
# Access the third element (index 2) of a tuple
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]

print("Third element of the tuple:", third_element)

Third element of the tuple: 3

### 3. Find the length of a tuple without using the `len()` function.

In [ ]:
# Find the length of a tuple without using len()
my_tuple = (1, 2, 3, 4, 5)
length = sum(1 for _ in my_tuple)

print("Length of the tuple:", length)

Length of the tuple: 5

### 4. Count the occurrences of an element in a tuple.

In [ ]:
# Count the occurrences of an element in a tuple
my_tuple = (1, 2, 2, 3, 2, 4, 5)
element_to_count = 2
count = my_tuple.count(element_to_count)

print("Occurrences of", element_to_count, "in the tuple:", count)

Occurrences of 2 in the tuple: 3

### 5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
# Find the index of the first occurrence of an element in a tuple
my_tuple = (1, 2, 2, 3, 2, 4, 5)
element_to_find = 2
index = my_tuple.index(element_to_find)

print("Index of the first occurrence of", element_to_find, "in the tuple:", index)

Index of the first occurrence of 2 in the tuple: 1

### 6. Check if an element exists in a tuple.

In [ ]:
# Check if an element exists in a tuple
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3
exists = element_to_check in my_tuple

if exists:
    print(element_to_check, "exists in the tuple.")
else:
    print(element_to_check, "does not exist in the tuple.")

3 exists in the tuple.

### 7. Convert a tuple to a list.

In [ ]:
# Convert a tuple to a list
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)

print("Converted list:", my_list)

Converted list: [1, 2, 3, 4, 5]

### 8. Convert a list to a tuple.

In [ ]:
# Convert a list to a tuple
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)

print("Converted tuple:", my_tuple)

Converted tuple: (1, 2, 3, 4, 5)

### 9. Unpack the elements of a tuple into variables.

In [ ]:
# Unpack the elements of a tuple into variables
my_tuple = (1, 2, 3)
a, b, c = my_tuple

print("Unpacked variables:", a, b, c)

Unpacked variables: 1 2 3

### 10. Create a tuple of even numbers from 1 to 10.

In [ ]:
# Create a tuple of even numbers from 1 to 10
even_numbers = tuple(range(2, 11, 2))

print("Tuple of even numbers:", even_numbers)

Tuple of even numbers: (2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
# Create a tuple of odd numbers from 1 to 10
odd_numbers = tuple(range(1, 11, 2))

print("Tuple of odd numbers:", odd_numbers)

Tuple of odd numbers: (1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [ ]:
# Concatenate two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2

print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

### 13. Repeat a tuple three times.

In [ ]:
# Repeat a tuple three times
my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 3

print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

### 14. Check if a tuple is empty.

In [ ]:
# Check if a tuple is empty
empty_tuple = ()
if not empty_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

### 15. Create a nested tuple.

In [ ]:
# Create a nested tuple
nested_tuple = ((1, 2), (3, 4), (5, 6))

print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2), (3, 4), (5, 6))

### 16. Access the first element of a nested tuple.

In [ ]:
# Access the first element of a nested tuple
nested_tuple = ((1, 2), (3, 4), (5, 6))
first_element = nested_tuple[0]

print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2)

### 17. Create a tuple with a single element.

In [ ]:
# Create a tuple with a single element
single_element_tuple = (42,)

print("Tuple with a single element:", single_element_tuple)

Tuple with a single element: (42,)

### 18. Compare two tuples.

In [ ]:
# Compare two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The tuples are equal.")
else:
    print("The tuples are not equal.")

The tuples are equal.

### 19. Delete a tuple.

In [ ]:
# Delete a tuple
my_tuple = (1, 2, 3)
del my_tuple

# Attempting to access the tuple after deletion will result in an error

### 20. Slice a tuple.

In [ ]:
# Slice a tuple
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[1:4]

print("Sliced tuple:", sliced_tuple)

Sliced tuple: (2, 3, 4)

### 21. Find the maximum value in a tuple.

In [ ]:
# Find the maximum value in a tuple
my_tuple = (4, 7, 2, 9, 1)
max_value = max(my_tuple)

print("Maximum value in the tuple:", max_value)

Maximum value in the tuple: 9

### 22. Find the minimum value in a tuple.

In [ ]:
# Find the minimum value in a tuple
my_tuple = (4, 7, 2, 9, 1)
min_value = min(my_tuple)

print("Minimum value in the tuple:", min_value)

Minimum value in the tuple: 1

### 23. Convert a string to a tuple of characters.

In [ ]:
# Convert a string to a tuple of characters
my_string = "Python"
char_tuple = tuple(my_string)

print("Tuple of characters:", char_tuple)

Tuple of characters: ('P', 'y', 't', 'h', 'o', 'n')

### 24. Convert a tuple of characters to a string.

In [ ]:
# Convert a tuple of characters to a string
char_tuple = ('P', 'y', 't', 'h', 'o', 'n')
my_string = ''.join(char_tuple)

print("String:", my_string)

String: Python

### 25. Create a tuple from multiple data types.

In [ ]:
# Create a tuple with elements of different data types
mixed_tuple = (42, "hello", 3.14, True)

print("Mixed tuple:", mixed_tuple)

Mixed tuple: (42, 'hello', 3.14, True)

### 26. Check if two tuples are identical.

In [ ]:
# Check if two tuples are identical
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The tuples are identical.")
else:
    print("The tuples are not identical.")

The tuples are identical.

### 27. Sort the elements of a tuple.

In [ ]:
# Sort the elements of a tuple
my_tuple = (4, 1, 3, 9, 2)
sorted_tuple = tuple(sorted(my_tuple))

print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 4, 9)

### 28. Convert a tuple of integers to a tuple of strings.

In [ ]:
# Convert a tuple of integers to a tuple of strings
int_tuple = (1, 2, 3, 4, 5)
str_tuple = tuple(map(str, int_tuple))

print("Tuple of strings:", str_tuple)

Tuple of strings: ('1', '2', '3', '4', '5')

### 29. Convert a tuple of strings to a tuple of integers.

In [ ]:
# Convert a tuple of strings to a tuple of integers
str_tuple = ("1", "2", "3", "4", "5")
int_tuple = tuple(map(int, str_tuple))

print("Tuple of integers:", int_tuple)

Tuple of integers: (1, 2, 3, 4, 5)

### 30. Merge two tuples.

In [ ]:
# Merge two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2

print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

### 31. Flatten a nested tuple.

In [ ]:
# Flatten a nested tuple
nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)

print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6)

### 32. Create a tuple of the first 5 prime numbers.

In [ ]:
# Create a tuple of the first 5 prime numbers
prime_numbers = (2, 3, 5, 7, 11)

print("Tuple of prime numbers:", prime_numbers)

Tuple of prime numbers: (2, 3, 5, 7, 11)

### 33. Check if a tuple is a palindrome.

In [ ]:
# Check if a tuple is a palindrome
my_tuple = (1, 2, 3, 2, 1)
is_palindrome = my_tuple == my_tuple[::-1]

print("Is the tuple a palindrome?", is_palindrome)

Is the tuple a palindrome? True

### 34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
# Create a tuple of squares of numbers from 1 to 5
squares_tuple = tuple(x ** 2 for x in range(1, 6))

print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [ ]:
# Filter out even numbers from a tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
filtered_tuple = tuple(x for x in my_tuple if x % 2 != 0)

print("Tuple without even numbers:", filtered_tuple)

Tuple without even numbers: (1, 3, 5, 7, 9)

### 36. Multiply all elements in a tuple by 2.

In [ ]:
# Multiply all elements in a tuple by 2
my_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(x * 2 for x in my_tuple)

print("Tuple with elements doubled:", doubled_tuple)

Tuple with elements doubled: (2, 4, 6, 8, 10)

### 37. Create a tuple of random numbers.

In [ ]:
import random

# Create a tuple of 5 random numbers between 1 and 100
random_numbers = tuple(random.randint(1, 100) for _ in range(5))

print("Tuple of random numbers:", random_numbers)

Tuple of random numbers: (99, 97, 32, 98, 66)

### 38. Check if a tuple is sorted.

In [ ]:
# Check if a tuple is sorted
my_tuple = (1, 2, 3, 4, 5)
is_sorted = my_tuple == tuple(sorted(my_tuple))

print("Is the tuple sorted?", is_sorted)

Is the tuple sorted? True

### 39. Rotate a tuple to the left by `n` positions.

In [ ]:
# Rotate a tuple to the left by n positions
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[n:] + my_tuple[:n]

print(f"Tuple rotated to the left by {n} positions:", rotated_tuple)

Tuple rotated to the left by 2 positions: (3, 4, 5, 1, 2)

### 40. Rotate a tuple to the right by `n` positions.

In [ ]:
# Rotate a tuple to the right by n positions
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[-n:] + my_tuple[:-n]

print(f"Tuple rotated to the right by {n} positions:", rotated_tuple)

Tuple rotated to the right by 2 positions: (4, 5, 1, 2, 3)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
# Create a tuple of the first 5 Fibonacci numbers
def fibonacci(n):
    fib = [0, 1]
    while len(fib) < n:
        fib.append(fib[-1] + fib[-2])
    return tuple(fib)

fibonacci_numbers = fibonacci(5)
print("Tuple of the first 5 Fibonacci numbers:", fibonacci_numbers)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

### 42. Create a tuple from user input.

In [ ]:
# Create a tuple from user input
elements = input("Enter elements separated by spaces: ").split()
user_tuple = tuple(elements)

print("User input tuple:", user_tuple)

User input tuple: ('2', '3', '4', '5', '6', '7')

### 43. Swap two elements in a tuple.

In [ ]:
# Swap two elements in a tuple
my_tuple = (1, 2, 3, 4, 5)
index1, index2 = 1, 3
tuple_list = list(my_tuple)
tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]
swapped_tuple = tuple(tuple_list)

print("Tuple after swapping elements:", swapped_tuple)

Tuple after swapping elements: (1, 4, 3, 2, 5)

### 44. Reverse the elements of a tuple.

In [ ]:
# Reverse the elements of a tuple
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]

print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

### 45. Create a tuple of the first `n` powers of 2.

In [ ]:
# Create a tuple of the first n powers of 2
n = 5
powers_of_2 = tuple(2 ** i for i in range(n))

print(f"Tuple of the first {n} powers of 2:", powers_of_2)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

### 46. Find the longest string in a tuple of strings.

In [ ]:
# Find the longest string in a tuple of strings
string_tuple = ("apple", "banana", "cherry", "date")
longest_string = max(string_tuple, key=len)

print("Longest string:", longest_string)

Longest string: banana

### 47. Find the shortest string in a tuple of strings.

In [ ]:
# Find the shortest string in a tuple of strings
string_tuple = ("apple", "banana", "cherry", "date")
shortest_string = min(string_tuple, key=len)

print("Shortest string:", shortest_string)

Shortest string: date

### 48. Create a tuple of the first `n` triangular numbers.

In [ ]:
# Create a tuple of the first n triangular numbers
def triangular_number(n):
    return n * (n + 1) // 2

n = 5
triangular_numbers = tuple(triangular_number(i) for i in range(1, n + 1))

print(f"Tuple of the first {n} triangular numbers:", triangular_numbers)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

### 49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
# Check if a tuple contains another tuple as a subsequence
my_tuple = (1, 2, (3, 4), 5, 6)
sub_tuple = (3, 4)

contains_subsequence = any(sub_tuple == my_tuple[i:i+len(sub_tuple)] for i in range(len(my_tuple) - len(sub_tuple) + 1))

print("Does the tuple contain the subsequence?", contains_subsequence)

Does the tuple contain the subsequence? False

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
# Create a tuple of alternating 1s and 0s of length n
n = 8
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))

print(f"Tuple of alternating 1s and 0s of length {n}:", alternating_tuple)

Tuple of alternating 1s and 0s of length 8: (1, 0, 1, 0, 1, 0, 1, 0)

## **Set-Based Practice Problems:**

### 1. Create a set with integers from 1 to 5.

In [ ]:
# Create a set with integers from 1 to 5
my_set = set(range(1, 6))

print("Set:", my_set)

Set: {1, 2, 3, 4, 5}

### 2. Add an element to a set.

In [ ]:
# Add an element to a set
my_set = {1, 2, 3}
my_set.add(4)

print("Set after adding an element:", my_set)

Set after adding an element: {1, 2, 3, 4}

### 3. Remove an element from a set.

In [ ]:
# Remove an element from a set
my_set = {1, 2, 3}
my_set.remove(2)

print("Set after removing an element:", my_set)

Set after removing an element: {1, 3}

### 4. Check if an element exists in a set.

In [ ]:
# Check if an element exists in a set
my_set = {1, 2, 3}
element_to_check = 2
exists = element_to_check in my_set

print(f"Does {element_to_check} exist in the set? {exists}")

Does 2 exist in the set? True

### 5. Find the length of a set without using the `len()` function.

In [ ]:
# Find the length of a set without using len()
my_set = {1, 2, 3}
count = sum(1 for _ in my_set)

print("Length of the set:", count)

Length of the set: 3

### 6. Clear all elements from a set.

In [ ]:
# Clear all elements from a set
my_set = {1, 2, 3}
my_set.clear()

print("Set after clearing:", my_set)

Set after clearing: set()

### 7. Create a set of even numbers from 1 to 10.

In [ ]:
# Create a set of even numbers from 1 to 10
even_set = set(range(2, 11, 2))

print("Set of even numbers:", even_set)

Set of even numbers: {2, 4, 6, 8, 10}

### 8. Create a set of odd numbers from 1 to 10.

In [ ]:
# Create a set of odd numbers from 1 to 10
odd_set = set(range(1, 11, 2))

print("Set of odd numbers:", odd_set)

Set of odd numbers: {1, 3, 5, 7, 9}

### 9. Find the union of two sets.

In [ ]:
# Find the union of two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)

print("Union of two sets:", union_set)

Union of two sets: {1, 2, 3, 4, 5}

### 10. Find the intersection of two sets.

In [ ]:
# Find the intersection of two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)

print("Intersection of two sets:", intersection_set)

Intersection of two sets: {3}

### 11. Find the difference between two sets.

In [ ]:
# Find the difference between two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
difference_set = set1 - set2

print("Difference between two sets:", difference_set)

Difference between two sets: {1, 2}

### 12. Check if a set is a subset of another set.

In [ ]:
# Check if a set is a subset of another set
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)

print("Is set1 a subset of set2?", is_subset)

Is set1 a subset of set2? True

### 13. Check if a set is a superset of another set.

In [ ]:
# Check if a set is a superset of another set
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
is_superset = set1.issuperset(set2)

print("Is set1 a superset of set2?", is_superset)

Is set1 a superset of set2? True

### 14. Create a set from a list.

In [ ]:
# Create a set from a list
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)

print("Set from a list:", my_set)

Set from a list: {1, 2, 3, 4, 5}

### 15. Convert a set to a list.

In [ ]:
# Convert a set to a list
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)

print("List from a set:", my_list)

List from a set: [1, 2, 3, 4, 5]

### 16. Remove a random element from a set.

In [ ]:
# Remove a random element from a set
import random

my_set = {1, 2, 3, 4, 5}
random_element = random.choice(tuple(my_set))
my_set.remove(random_element)

print("Set after removing a random element:", my_set)

Set after removing a random element: {2, 3, 4, 5}

### 17. Pop an element from a set.

In [ ]:
# Pop an element from a set
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()

print("Popped element:", popped_element)
print("Set after popping:", my_set)

Popped element: 1
Set after popping: {2, 3, 4, 5}

### 18. Check if two sets have no elements in common.

In [ ]:
# Check if two sets have no elements in common
set1 = {1, 2, 3}
set2 = {4, 5, 6}
no_common_elements = not set1.isdisjoint(set2)

print("Do the sets have no common elements?", no_common_elements)

Do the sets have no common elements? False

### 19. Find the symmetric difference between two sets.

In [ ]:
# Find the symmetric difference between two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
symmetric_difference_set = set1.symmetric_difference(set2)

print("Symmetric difference between two sets:", symmetric_difference_set)

Symmetric difference between two sets: {1, 2, 6, 7}

### 20. Update a set with elements from another set.

In [ ]:
# Update a set with elements from another set
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)

print("Set1 after updating with elements from set2:", set1)

Set1 after updating with elements from set2: {1, 2, 3, 4, 5}

### 21. Create a set of the first 5 prime numbers.

In [ ]:
# Create a set of the first 5 prime numbers
prime_set = {2, 3, 5, 7, 11}

print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

### 22. Check if two sets are identical.

In [ ]:
# Check if two sets are identical
set1 = {1, 2, 3}
set2 = {3, 2, 1}
are_identical = set1 == set2

print("Are the sets identical?", are_identical)

Are the sets identical? True

### 23. Create a frozen set.

In [ ]:
# Create a frozen set
my_set = {1, 2, 3}
frozen_set = frozenset(my_set)

print("Frozen set:", frozen_set)

Frozen set: frozenset({1, 2, 3})

### 24. Check if a set is disjoint with another set.

In [ ]:
# Check if a set is disjoint with another set
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_disjoint = set1.isdisjoint(set2)

print("Are the sets disjoint?", is_disjoint)

Are the sets disjoint? True

### 25. Create a set of squares of numbers from 1 to 5.

In [ ]:
# Create a set of squares of numbers from 1 to 5
square_set = {x ** 2 for x in range(1, 6)}

print("Set of squares:", square_set)

Set of squares: {1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [ ]:
# Filter out all even numbers from a set
my_set = {1, 2, 3, 4, 5}
filtered_set = {x for x in my_set if x % 2 != 0}

print("Set after filtering out even numbers:", filtered_set)

Set after filtering out even numbers: {1, 3, 5}

### 27. Multiply all elements in a set by 2.

In [ ]:
# Multiply all elements in a set by 2
my_set = {1, 2, 3, 4, 5}
doubled_set = {x * 2 for x in my_set}

print("Set after multiplying by 2:", doubled_set)

Set after multiplying by 2: {2, 4, 6, 8, 10}

### 28. Create a set of random numbers.

In [ ]:
# Create a set of random numbers
import random

random_set = {random.randint(1, 10) for _ in range(5)}

print("Set of random numbers:", random_set)

Set of random numbers: {2, 3, 4, 5, 10}

### 29. Check if a set is empty.

In [ ]:
# Check if a set is empty
my_set = set()
is_empty = not bool(my_set)

print("Is the set empty?", is_empty)

Is the set empty? True

### 30. Create a nested set (hint: use frozenset).

In [ ]:
# Create inner frozensets
set1 = frozenset({1, 2, 3})
set2 = frozenset({4, 5, 6})

# Create a nested frozenset
nested_set = frozenset({set1, set2})

print(nested_set)

frozenset({frozenset({1, 2, 3}), frozenset({4, 5, 6})})

### 31. Remove an element from a set using the discard method.

In [ ]:
# Remove an element from a set using the discard method
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)  # Remove the element 3 if it exists

print("Set after removing 3:", my_set)

Set after removing 3: {1, 2, 4, 5}

### 32. Compare two sets.

In [ ]:
# Compare two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Check if two sets have any common elements
have_common_elements = not set1.isdisjoint(set2)

print("Is set1 a subset of set2?", is_subset)
print("Is set1 a superset of set2?", is_superset)
print("Do the sets have common elements?", have_common_elements)

Is set1 a subset of set2? False
Is set1 a superset of set2? False
Do the sets have common elements? True

### 33. Create a set from a string.

In [ ]:
# Create a set from a string
my_string = "hello"
char_set = set(my_string)

print("Set from string:", char_set)

Set from string: {'l', 'o', 'h', 'e'}

### 34. Convert a set of strings to a set of integers.

In [ ]:
# Convert a set of strings to a set of integers
string_set = {"1", "2", "3"}
int_set = {int(x) for x in string_set}

print("Set of integers:", int_set)

Set of integers: {1, 2, 3}

### 35. Convert a set of integers to a set of strings.

In [ ]:
# Convert a set of integers to a set of strings
int_set = {1, 2, 3}
string_set = {str(x) for x in int_set}

print("Set of strings:", string_set)

Set of strings: {'2', '1', '3'}

### 36. Create a set from a tuple.

In [ ]:
# Create a set from a tuple
my_tuple = (1, 2, 3, 4, 5)
tuple_set = set(my_tuple)

print("Set from tuple:", tuple_set)

Set from tuple: {1, 2, 3, 4, 5}

### 37. Convert a set to a tuple.

In [ ]:
# Convert a set to a tuple
my_set = {1, 2, 3, 4, 5}
set_tuple = tuple(my_set)

print("Tuple from set:", set_tuple)

Tuple from set: (1, 2, 3, 4, 5)

### 38. Find the maximum value in a set.

In [ ]:
# Find the maximum value in a set
my_set = {4, 2, 8, 1, 9}
max_value = max(my_set)

print("Maximum value in set:", max_value)

Maximum value in set: 9

### 39. Find the minimum value in a set.

In [ ]:
# Find the minimum value in a set
my_set = {4, 2, 8, 1, 9}
min_value = min(my_set)

print("Minimum value in set:", min_value)

Minimum value in set: 1

### 40. Create a set from user input.

In [ ]:
# Create a set from user input
user_input = input("Enter elements separated by spaces: ")
user_list = user_input.split()
user_set = set(user_list)

print("Set from user input:", user_set)

Set from user input: {'4', '2', '6', '3'}

### 41. Check if the intersection of two sets is empty.

In [ ]:
# Check if the intersection of two sets is empty
set1 = {1, 2, 3}
set2 = {4, 5, 6}

is_intersection_empty = len(set1.intersection(set2)) == 0

print("Is the intersection empty?", is_intersection_empty)

Is the intersection empty? True

### 42. Create a set of the first 5 Fibonacci numbers.

In [ ]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

# Generate the first 5 Fibonacci numbers
first_5_fibonacci = generate_fibonacci(5)

# Print the set
print(first_5_fibonacci)

{0, 1, 2, 3}

### 43. Remove duplicates from a list using sets.

In [ ]:
# Remove duplicates from a list using sets
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))

print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

### 44. Check if two sets have the same elements, regardless of their count.

In [ ]:
# Check if two sets have the same elements, regardless of their count
set1 = {1, 2, 3}
set2 = {3, 2, 1, 1}

are_equal_sets = set1 == set2

print("Are the sets equal?", are_equal_sets)

Are the sets equal? True

### 45. Create a set of the first `n` powers of 2.

In [ ]:
# Create a set of the first n powers of 2
n = 5
powers_of_2_set = {2**i for i in range(n)}

print("Set of the first", n, "powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

### 46. Find the common elements between a set and a list.

In [ ]:
# Find the common elements between a set and a list
set1 = {1, 2, 3, 4, 5}
list1 = [3, 4, 5, 6, 7]

common_elements = set1.intersection(list1)

print("Common elements:", common_elements)

Common elements: {3, 4, 5}

### 47. Create a set of the first `n` triangular numbers.

In [ ]:
# Create a set of the first n triangular numbers
n = 5
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n + 1)}

print("Set of the first", n, "triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

### 48. Check if a set contains another set as a subset.

In [ ]:
# Check if a set contains another set as a subset
set1 = {1, 2, 3, 4, 5}
subset = {3, 4, 5}

is_subset = subset.issubset(set1)

print("Is subset a subset of set1?", is_subset)

Is subset a subset of set1? True

### 49. Create a set of alternating 1s and 0s of length `n`.

In [ ]:
# Create a set of alternating 1s and 0s of length n
n = 6
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}

print("Set of alternating 1s and 0s:", alternating_set)

Set of alternating 1s and 0s: {0, 1}

### 50. Merge multiple sets into one.

In [ ]:
# Merge multiple sets into one
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)

print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}