Basic Level

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
for i in range (11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

Explantion

1. Using for loop to iterate through the range
2. printing the result

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
# creating an empty list
lst = []

# number of elements as input
n = int(input("Enter number of elements : "))

# iterating till the range
for i in range(0, n):
    ele = int(input())
    # adding the element
    lst.append(ele)

print(lst)

x=0

for i in range(len(lst)):
  x=x+lst[i]

print(x)

Enter number of elements : 4
32
24
24
14
[32, 24, 24, 14]
94

Explanation

1. Declaring an empty list named lst
2. Taking the Input of no. of elements of the list
3. Using for loop to enter the elements of list
4. Printing the list
5. declaring x so as to help in taking the sum
6. Using for loop to iterate through the len of the list
7. adding the elements and printing the result

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
x=input("Enter A String ")

str = ""
for i in x:
  str = i + str


print(str)

Enter A String Hello World
dlroW olleH

Explanation

1. Taking Input
2. Declaring An empty variable to store the reverse string
3. Iterating through x
4. Storing string in rev order
5. Printing the result

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
x=int(input("Enter an integer "))
factorial=1
for i in range(1,x+1):
  factorial=factorial*i

print(factorial)

Enter an integer 24
620448401733239439360000

Explanation

1. Taking Input
2. Declaring a counter
3. Using for loop to iterate through the numbers
4. Printing the output

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
x= int(input("Enter an integer "))
inc=1
for i in range(1,11):
  inc=x*i
  print(inc)

Enter an integer 5
5
10
15
20
25
30
35
40
45
50

Explanation

1. Taking input
2. Declaring a counter varibale
3. iterating for multiplication
4. Multiplying the number with i that is in the range of 10
5. Printing the table.

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
# creating an empty list
lst = []

# number of elements as input
n = int(input("Enter number of elements : "))

# iterating till the range
for i in range(0, n):
    ele = int(input())
    # adding the element
    lst.append(ele)

print(lst)

even=0
odd=0
for i in range(len(lst)):
  if (lst[i]%2==0):
    even=even+1
  else:
    odd=odd+1

print("Even digits are ",even)
print('Odd digits are',odd)

Enter number of elements : 4
7
2
3
6
[7, 2, 3, 6]
Even digits are  2
Odd digits are 2

Explanation


1. Declasring an empty list named lst
2. Taking the Input of no. of elements of the list
3. Using for loop to enter the elements of list
4. Printing the list
5. declaring counters even and odd
6. Running for loop to iterate through the list
7. conditional statement to check for even i.e. if division by 2 returns 0 it is even
8. Printing the result

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for i in range(6):
  i=i*i
  print(i)

0
1
4
9
16
25

Explanation

1. Running for loop in range 6
2. squaring the number
3. printing the result

8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
x= input("Enter A String ")
count=0
for i in x:
  count+=1

print("The length if the string is ",count)

Enter A String Rohan
The length if the string is  5

Explanation

1. Taking Input
2. Declaring counter to count the string
3. Iterating through the string
4. Raising counter value by 1

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
# creating an empty list
lst = []

# number of elements as input
n = int(input("Enter number of elements : "))

# iterating till the range
for i in range(0, n):
    ele = int(input())
    # adding the element
    lst.append(ele)

print(lst)

count=0
avg=0
for i in range(len(lst)):
  count=count+lst[i]
  avg=count/n

print("Avg is ",avg)

Enter number of elements : 4
5
6
7
8
[5, 6, 7, 8]
Avg is  6.5

1. Declasring an empty list named lst
2. Taking the Input of no. of elements of the list
3. Using for loop to enter the elements of list
4. Printing the list
5. declaring count and avg variable
6. Iterating through the list
7. Adding the values using count variable
8. Calculating avg by count/n
9. Printing the result

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
x=int(input("Enter Number "))
a=0
b=1
if(x==1):
  print(a)
else:
  print(a)
  print(b)
  for i in range(2,n):
    c=a+b
    a=b
    b=c
    print(c)

Enter Number 5
0
1
1
2

Explanation

1. Taking input
2. Declaring a and b
3. if statement is used as fibonacci of 1 is 0
4. In the else statement for loop is run to iterate through the range
5. fibonacci basic logic is applied of adding the no.s and then interchanging the numbers.
6. Printing the result

Intermediate Level

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [11]:

my_list = [1, 2, 3, 4, 5, 2]


has_duplicates = False


for i in range(len(my_list)):

    for j in range(i + 1, len(my_list)):


        if my_list[i] == my_list[j]:
            has_duplicates = True
            break

if has_duplicates:
    print(" contains duplicate.")
else:
    print(" does not contain duplicate.")

 contains duplicate.

Explanation

1. Declaring a list
2. Iterating using for loop
3. Next loop to check for the remaining elements
4. Checking if it contains duplictaes
5. Printing the result

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
x= int(input("Enter An Integer"))
count=0
if(x==1):
  print("prime")
else:
  for i in range(1,x+1):
    if(x%i==0):
      count=count+1
  if(count==2):
    print("Prime")
  else:
    print("Not Prime")

Enter An Integer23
Prime

Explanation

1. Take Input
2. Running for loop to check for the factors
3. If there is a factor the counter is raised by 1
4. Since prime number have two factors if count value is 2 it is a prime number.
5. Printing the result

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
x=input("Enter A String ")
count=0
for i in x:
  if (i=='a'or i=='e'or i=='i'or i=='o'or i=='u'):
    count=count+1

print("Number of Vowels is ",count)

Enter A String Hello World
Number of Vowels is  3

Explanation

1. Taking Input
2. Declaring Count
3. Running for loop to iterate through the string
4. If statement to check for vowels
5. Raising counter value by 1
6. Printing the result

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [12]:

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]


max_element = matrix[0][0]


for row in matrix:

    for element in row:

        if element > max_element:
            max_element = element


print("Maximum element:", max_element)

Maximum element: 9

Explanation

1. Declaring Sample list
2. Initialising max element
3. Main list is used to iterate through main list
4. If a greater number is found it is stored
5. Printing the result

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [ ]:
l = [7,10,21,25,36,21]
a = 21

# Remove the item for all its occurrences
for item in l:
	if(item==a):
		l.remove(a)

print(l)

[7, 10, 25, 36]

Explanation

1. Declaring list
2. Specifying the item to be removed
3. Iterating through the list
4. If element found delete the item.

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [ ]:
a=5

for i in range(1,a+1):
  for j in range(1,11):  #to iterate through the multiples
    print(i, "x", j, "=", i * j, "\n")

  print("\n")

1 x 1 = 1

1 x 2 = 2

1 x 3 = 3

1 x 4 = 4

1 x 5 = 5

1 x 6 = 6

1 x 7 = 7

1 x 8 = 8

1 x 9 = 9

1 x 10 = 10



2 x 1 = 2

2 x 2 = 4

2 x 3 = 6

2 x 4 = 8

2 x 5 = 10

2 x 6 = 12

2 x 7 = 14

2 x 8 = 16

2 x 9 = 18

2 x 10 = 20



3 x 1 = 3

3 x 2 = 6

3 x 3 = 9

3 x 4 = 12

3 x 5 = 15

3 x 6 = 18

3 x 7 = 21

3 x 8 = 24

3 x 9 = 27

3 x 10 = 30



4 x 1 = 4

4 x 2 = 8

4 x 3 = 12

4 x 4 = 16

4 x 5 = 20

4 x 6 = 24

4 x 7 = 28

4 x 8 = 32

4 x 9 = 36

4 x 10 = 40



5 x 1 = 5

5 x 2 = 10

5 x 3 = 15

5 x 4 = 20

5 x 5 = 25

5 x 6 = 30

5 x 7 = 35

5 x 8 = 40

5 x 9 = 45

5 x 10 = 50

Explanation

1. Declaring max value upto which table is required
2. First for to iterate in the range for the table
3. Second for is used to iterate through the multiples of the table
4. Printing the result

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [ ]:
l=[30,40,50,60,70]
for i in range(len(l)):
  c=(l[i]-32)*5/9
  print(c)

-1.1111111111111112
4.444444444444445
10.0
15.555555555555555
21.11111111111111

Explanation

1.   Declaring a list
2.   Iterating through the list using for loop
3.   conversion formula
4.   printing the result

18. Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
l1=[3,4,5,6,7,8]
l2=[7,8,9,10,11]

for i in range(len(l1)):
  for j in range(len(l2)):
    if (l1[i]==l2[j]):
      print(l1[i])

7
8

Explanation

1. Declaring both the list
2. Iterating through the range of l1 and l2
3. Checking for common values
4. printing the common values

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end=' ')

  print()

*
* *
* * *
* * * *
* * * * *

Explanation

1. Iterating through the rows and columns
2. Printing the star
3. Next print is to transfer the columns

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
num1 = int(input("Enter Integer "))
num2 = int(input("Enter Integer "))
gcd = 1

for i in range(1, min(num1, num2)):
    if num1 % i == 0 and num2 % i == 0:
        gcd = i
print("GCD of", num1, "and", num2, "is", gcd)

Enter Integer 32
Enter Integer 40
GCD of 32 and 40 is 8

Explanation

1. Taking Input
2. Giving gcd a value
3. Using for loop to check for factors
4. Giving the condition
5. Printing the result

Advanced Level

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [7]:

numbers = [12, 32, 45, 67]


digit_sums = [sum(int(digit) for digit in str(num)) for num in numbers]

print("Sum of digits:", digit_sums)

Sum of digits: [3, 5, 9, 13]

1. Initialising list
2. Printing the first list
3. Sum is calculated using sum() and list comprehension
4. Printing the result

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [ ]:

num = 85


def is_prime(x):
    if x <= 1:
        return False
    for i in range(2, int(x**0.5) + 1):
        if x % i == 0:
            return False
    return True

prime_factors = [factor for factor in range(2, num + 1) if num % factor == 0 and is_prime(factor)]

print("Prime factors of", num, "are:", prime_factors)

Prime factors of 85 are: [5, 17]

Explanation

1. Define the value of whic prime factors are to be find
2. Function to check if a number is prime.
3. Using for loop to iterate through the values
4. Using list comprehension to find the factors.
5. Printing the result

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [ ]:

l = [32, 67, 67,84, 5,2,2]

unique_elements = list(set(l))

print("Unique elements ", unique_elements)

Unique elements  [32, 2, 67, 5, 84]

Explanation

1. Creating sample list
2. Using list comprehension to extract unique elements
3. Printing the result

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [8]:

x = 150


palindromic_numbers = [num for num in range(1, x + 1) if str(num) == str(num)[::-1]]

print("Palindromic numbers up to", x, "are:", palindromic_numbers)

Palindromic numbers up to 150 are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141]

Explanation

1. Taking the limit upto which the numbers should be printed
2. Using list comprehension to generate palindromic numbers.
3. Printing the numbers

25. Write a program to flatten a nested list using list comprehension.

In [ ]:

samplelist = [[1, 2, 3], [4, 5], [6, 7, 8]]


flattenedlist = [element for sublist in samplelist for element in sublist]

print("Flattened list:", flattenedlist)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

Explanation

1. Declaring a sample list
2. using list comprehension to flatten the sample list
3. Printing the result

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [ ]:

l = [1, 2, 3, 4, 5, 6, 7, 8, 9]


evensum = sum(num for num in l if num % 2 == 0)
oddsum = sum(num for num in l if num % 2 != 0)

print("Sum of even numbers:", evensum)
print("Sum of odd numbers:", oddsum)

Sum of even numbers: 20
Sum of odd numbers: 25

Explanation

1. declaring a list
2. Using list comprehension to compute sum of even and odd numbers in the list
3. Printing the result

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [ ]:
square = [num ** 2 for num in range(1, 11) if num % 2 != 0]

print("Squares of odd numbers:", square)

Squares of odd numbers: [1, 9, 25, 49, 81]

Explanation

1. Defining the list comprehension in range 1 to 11
2. printing the result

28. Write a program that combines two lists into a dictionary using list comprehension.

In [ ]:

key = ['a', 'b', 'c']
value = [1, 2, 3]


dict1 = {k: v for k, v in zip(key, value)}

print("Dictionary:", dict1)

Dictionary: {'a': 1, 'b': 2, 'c': 3}

Explanation

1. Declaring a sample list
2. Using list comprehension to create a dictionary
3. Printing the result

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [ ]:

a = "Hello, World!"


vowels = [char for char in a if char.lower() in 'aeiou']

print("Vowels ", vowels)

Vowels  ['e', 'o', 'o']

Explanation

1. Creating a sample string to check for vowels
2. Using List comprehension
3. printing the result

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [ ]:

a = ["rohan456", "yuvraj123"]


numeric_values = [int(''.join(char for char in string if char.isnumeric())) for string in a]

print("Numeric strings:", numeric_values)

Numeric strings: [456, 123]

Explanation

1. Declaring a list
2. Using list to remove non numeric characters
3. Printing the result

Challenge Level

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [ ]:

x=int(input("ENter limit"))


is_prime = [True] * (x + 1)
is_prime[0] = is_prime[1] = False


for num in range(2, int(x**0.5) + 1):
    if is_prime[num]:
        for multiple in range(num * num, x + 1, num):
            is_prime[multiple] = False


prime_numbers = [num for num in range(2, x + 1) if is_prime[num]]

print("Prime numbers up to", x, "are:", prime_numbers)

ENter limit70
Prime numbers up to 70 are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67]

Explanation

1. Enter Limit for prime numbers
2. Create a boolean list to mark prime numbers
3. Sieve of Eratosthenes algorithm
4. List Comprehension to get the numbers
5. Print the numbers

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [ ]:

x= int(input("Enter Limit"))


pythagorean_triplets = [(a, b, c) for a in range(1, x + 1) for b in range(a, x + 1) for c in range(b, x + 1) if a**2 + b**2 == c**2]

print("Pythagorean triplets up to", x, "are:", pythagorean_triplets)

Enter Limit25
Pythagorean triplets up to 25 are: [(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (12, 16, 20), (15, 20, 25)]

Explanation

1. Enter tHE UTMOST POINT TO WHICH THE TRIPLETS ARE REQUIREd
2. Use list comprehension to generate it
3. Print the result

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [ ]:

list1 = [1, 2]
list2 = ['rohan', 'yuvraj']


final = [(x, y) for x in list1 for y in list2]

print("Combinations:", final)

Combinations: [(1, 'rohan'), (1, 'yuvraj'), (2, 'rohan'), (2, 'yuvraj')]

Explanation

1. Declaring both the lists
2. Comprehension list to generate the result
3. Print the result

34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [ ]:
import statistics


numbers = [10,20,30,40,50,60,70]


mean = sum(numbers) / len(numbers)
median = statistics.median(numbers)
mode = statistics.mode(numbers)

print("Mean:", mean)
print("Median:", median)
print("Mode:", mode)

Mean: 40.0
Median: 40
Mode: 10

Explanation

1. Taking the numbers
2. Calculating the mean median and mode
3. Printing the result

35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

In [ ]:

num_rows = 5


pascals_triangle = [[1]]


[pascals_triangle.append([1] + [pascals_triangle[i - 1][j - 1] + pascals_triangle[i - 1][j] for j in range(1, i)] + [1]) for i in range(1, num_rows)]

print("Pascal's Triangle:")
for row in pascals_triangle:
    print(row)

Pascal's Triangle:
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

Explanation

1. Inputting the number of rows
2. Initailising the pascal triangle from the forst row
3. Using list comprehension to generate the remaining rows
4. Printing the result

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [9]:

numbers = [1, 2, 3, 4, 5]


def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)


sums_of_digits = [sum(int(digit) for digit in str(factorial(num))) for num in numbers]

print("Sum of digits of factorials:", sums_of_digits)

Sum of digits of factorials: [1, 2, 6, 6, 3]

Explanation

1. Number for we want to calculate the sum of digits
2. Function to calculate factorial
3. Using list comprehension
4. Printing reult

37. Write a program that finds the longest word in a sentence using list comprehension.

In [ ]:

sentence = "Rohan Yuvraj"


longest_word = max([word for word in sentence.split()], key=len)

print("Longest word:", longest_word)

Longest word: Yuvraj

Explanation

1. Declaring string
2. Using list comprehension to first split and then find the longest word
3. Printing the result

38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

In [ ]:

strings = ["oooo", "abab", "aeio"]


def count_vowels(string):
    return sum(1 for char in string if char.lower() in 'aeiou')


final = [string for string in strings if count_vowels(string) > 3]

print("Strings with more than three vowels:", final)

Strings with more than three vowels: ['oooo', 'aeio']

Explanation
1. Declaring the list
2. Function to count vowels
3. List comprehension to check for more than three vowels
4. Printing the result

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [2]:

sums_of_digits = [sum(int(digit) for digit in str(num)) for num in range(1, 1001)]

print("Sum of digits of numbers from 1 to 1000:", sums_of_digits)

Sum of digits of numbers from 1 to 1000: [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

Explanation

1. Using list comprehension to calculate the sum of digits
2. print the result

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [1]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Use list comprehension to generate prime palindromic numbers
prime_palindromic_numbers = [num for num in range(1, 1000)  if is_prime(num) and str(num) == str(num) [::-1]]

print("Prime palindromic numbers:", prime_palindromic_numbers)

Prime palindromic numbers: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]

Explanation

1. Declaring a function to check if the number is prime.
2. Iterating through the loop and checking for the condition.
3. Using list to generate palindromic numbers.
4. Printing the result.